In [ ]:
# Installing necessary packages (ipython-sql extension, sqlalchemy and ibm_db_sa)

!pip install ipython-sql extension
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

In [17]:
%load_ext sql

In [18]:
%sql ibm_db_sa://Username:Password@Host:50000/BLUDB

In [ ]:
%sql CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES(country VARCHAR(50), first_name VARCHAR(50), last_name VARCHAR(50), test_score INT);

%%sql at top of cell to indicate we want the entire cell to be treated as SQL.

In [40]:
%%sql 

INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES(country, first_name, last_name, test_score) VALUES 
('Nigeria', 'Abdul', 'Hussein', 74), 
('Ghana', 'Celinda', 'Malkin', 51), 
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48),
('United States', 'Tiffie', 'Cosely', 58),
('Poland', 'Auroora', 'Stiffell', 45),
('China', 'Clarita', 'Huet', 52),
('Poland', 'Shannon', 'Goulden', 45),
('Philippines', 'Emylee', 'Privost', 50),
('France', 'Madelina', 'Burk', 49),
('China', 'Saunderson', 'Root', 58),
('Indonesia', 'Bo', 'Waring', 55),
('China', 'Hollis', 'Domotor', 45),
('Russia', 'Robbie', 'Collip', 46),
('Philippines', 'Davon', 'Donisi', 46),
('China', 'Cristabel', 'Radeliffe', 48),
('China', 'Wallis', 'Bartleet', 58),
('Moldova', 'Arleen', 'Stailey', 38),
('Ireland', 'Mendel', 'Grumble', 58),
('China', 'Sallyann', 'Exley', 51),
('Mexico', 'Kain', 'Swaite', 46),
('Indonesia', 'Alonso', 'Bulteel', 45),
('Armenia', 'Anatol', 'Tankus', 51),
('Indonesia', 'Coralyn', 'Dawkins', 48),
('China', 'Deanne', 'Edwinson', 45),
('China', 'Georgiana', 'Epple', 51),
('Portugal', 'Bartlet', 'Breese', 56),
('Azerbaijan', 'Idalina', 'Lukash', 50),
('France', 'Livvie', 'Flory', 54),
('Malaysia', 'Nonie', 'Borit', 48),
('Indonesia', 'Clio', 'Mugg', 47),
('Brazil', 'Westley', 'Measor', 48),
('Philippines', 'Katrinka', 'Sibbert', 51),
('Poland', 'Valentia', 'Mounch', 50),
('Norway', 'Sheilah', 'Hedditch', 53),
('Papua New Guinea', 'Itch', 'Jubb', 50),
('Latvia', 'Stesha', 'Garnson', 53),
('Canada', 'Cristionna', 'Wadmore', 46),
('China', 'Lianna', 'Gatward', 43),
('Guatemala', 'Tanney', 'Vials', 48),
('France', 'Alma', 'Zavittieri', 44),
('China', 'Alvira', 'Tamas', 50),
('United States', 'Shanon', 'Peres', 45),
('Sweden', 'Maisey', 'Lynas', 53),
('Indonesia', 'Kip', 'Hothersall', 46),
('China', 'Cash', 'Landis', 48),
('Panama', 'Kennith', 'Digance', 45),
('China', 'Ulberto', 'Riggeard', 48),
('Switzerland', 'Judy', 'Gilligan', 49),
('Philippines', 'Tod', 'Trevaskus', 52),
('Brazil', 'Herold', 'Heggs', 44),
('Latvia', 'Verney', 'Note', 50),
('Poland', 'Temp', 'Ribey', 50),
('China', 'Conroy', 'Egdal', 48),
('Japan', 'Gabie', 'Alessandone', 47),
('Ukraine', 'Devlen', 'Chaperlin', 54),
('France', 'Babbette', 'Turner', 51),
('Czech Republic', 'Virgil', 'Scotney', 52),
('Tajikistan', 'Zorina', 'Bedow', 49),
('China', 'Aidan', 'Rudeyeard', 50),
('Ireland', 'Saunder', 'MacLice', 48),
('France', 'Waly', 'Brunstan', 53),
('China', 'Gisele', 'Enns', 52),
('Peru', 'Mina', 'Winchester', 48),
('Japan', 'Torie', 'MacShirrie', 50),
('Russia', 'Benjamen', 'Kenford', 51),
('China', 'Etan', 'Burn', 53),
('Russia', 'Merralee', 'Chaperlin', 38),
('Indonesia', 'Lanny', 'Malam', 49),
('Canada', 'Wilhelm', 'Deeprose', 54),
('Czech Republic', 'Lari', 'Hillhouse', 48),
('China', 'Ossie', 'Woodley', 52),
('Macedonia', 'April', 'Tyer', 50),
('Vietnam', 'Madelon', 'Dansey', 53),
('Ukraine', 'Korella', 'McNamee', 52),
('Jamaica', 'Linnea', 'Cannam', 43),
('China', 'Mart', 'Coling', 52),
('Indonesia', 'Marna', 'Causbey', 47),
('China', 'Berni', 'Daintier', 55),
('Poland', 'Cynthia', 'Hassell', 49),
('Canada', 'Carma', 'Schule', 49),
('Indonesia', 'Malia', 'Blight', 48),
('China', 'Paulo', 'Seivertsen', 47),
('Niger', 'Kaylee', 'Hearley', 54),
('Japan', 'Maure', 'Jandak', 46),
('Argentina', 'Foss', 'Feavers', 45),
('Venezuela', 'Ron', 'Leggitt', 60),
('Russia', 'Flint', 'Gokes', 40),
('China', 'Linet', 'Conelly', 52),
('Philippines', 'Nikolas', 'Birtwell', 57),
('Australia', 'Eduard', 'Leipelt', 53)
;

 * ibm_db_sa://gwn73718:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
99 rows affected.

[]

### Querying the database

In [41]:
country = "Canada"
%sql select * from INTERNATIONAL_STUDENT_TEST_SCORES where country = :country

 * ibm_db_sa://gwn73718:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Canada', 'Cristionna', 'Wadmore', 46),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Canada', 'Carma', 'Schule', 49)]

In [54]:
%%sql

select * from INTERNATIONAL_STUDENT_TEST_SCORES LIMIT 15;

 * ibm_db_sa://gwn73718:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Nigeria', 'Abdul', 'Hussein', 74),
 ('Ghana', 'Celinda', 'Malkin', 51),
 ('Ukraine', 'Guillermo', 'Furze', 53),
 ('Greece', 'Aharon', 'Tunnow', 48),
 ('Russia', 'Bail', 'Goodwin', 46),
 ('Poland', 'Cole', 'Winteringham', 49),
 ('Sweden', 'Emlyn', 'Erricker', 55),
 ('Russia', 'Cathee', 'Sivewright', 49),
 ('China', 'Barny', 'Ingerson', 57),
 ('Uganda', 'Sharla', 'Papaccio', 55),
 ('China', 'Stella', 'Youens', 51),
 ('Poland', 'Julio', 'Buesden', 48),
 ('United States', 'Tiffie', 'Cosely', 58),
 ('Poland', 'Auroora', 'Stiffell', 45),
 ('China', 'Clarita', 'Huet', 52)]

In [51]:
%%sql

SELECT first_name, last_name, test_score from INTERNATIONAL_STUDENT_TEST_SCORES WHERE test_score BETWEEN 60 AND 80;

 * ibm_db_sa://gwn73718:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abdul', 'Hussein', 74), ('Ron', 'Leggitt', 60)]

In [57]:
%%sql

SELECT country, COUNT(*) AS "Count"
FROM INTERNATIONAL_STUDENT_TEST_SCORES
GROUP BY country;

 * ibm_db_sa://gwn73718:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Argentina', Decimal('1')),
 ('Armenia', Decimal('1')),
 ('Australia', Decimal('1')),
 ('Azerbaijan', Decimal('1')),
 ('Brazil', Decimal('2')),
 ('Canada', Decimal('3')),
 ('China', Decimal('23')),
 ('Czech Republic', Decimal('2')),
 ('France', Decimal('5')),
 ('Ghana', Decimal('1')),
 ('Greece', Decimal('1')),
 ('Guatemala', Decimal('1')),
 ('Indonesia', Decimal('8')),
 ('Ireland', Decimal('2')),
 ('Jamaica', Decimal('1')),
 ('Japan', Decimal('3')),
 ('Latvia', Decimal('2')),
 ('Macedonia', Decimal('1')),
 ('Malaysia', Decimal('1')),
 ('Mexico', Decimal('1')),
 ('Moldova', Decimal('1')),
 ('Niger', Decimal('1')),
 ('Nigeria', Decimal('1')),
 ('Norway', Decimal('1')),
 ('Panama', Decimal('1')),
 ('Papua New Guinea', Decimal('1')),
 ('Peru', Decimal('1')),
 ('Philippines', Decimal('5')),
 ('Poland', Decimal('7')),
 ('Portugal', Decimal('1')),
 ('Russia', Decimal('6')),
 ('Sweden', Decimal('2')),
 ('Switzerland', Decimal('1')),
 ('Tajikistan', Decimal('1')),
 ('Uganda', Decimal('1')),
 ('Ukraine', Decimal('3')),
 ('United States', Decimal('2')),
 ('Venezuela', Decimal('1')),
 ('Vietnam', Decimal('1'))]

In [61]:
%%sql

SELECT AVG(test_score) AS "AVG SCORE" from INTERNATIONAL_STUDENT_TEST_SCORES;

 * ibm_db_sa://gwn73718:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.939393'),)]

In [70]:
%%sql

SELECT MAX(test_score) as "Highest Score" from INTERNATIONAL_STUDENT_TEST_SCORES;

 * ibm_db_sa://gwn73718:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(74,)]

In [71]:
%%sql

SELECT MIN(test_score) as "Lowest Score" from INTERNATIONAL_STUDENT_TEST_SCORES;

 * ibm_db_sa://gwn73718:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(38,)]